@function asteroids($num, $max, $rad) {
  $asteroids: 0 0;
  @for $i from 1 to $num {
    $asteroids: $asteroids,
      (random(($rad) * 100) / 100 - ($max / 2)) (random(($max - $rad * 6) * 100) / 100 - ($max - $rad * 6) / 2);
  }
  @for $i from 1 to $num {
    $asteroids: $asteroids,
      -(random(($rad) * 100) / 100 - ($max / 2)) (random(($max - $rad * 6) * 100) / 100 - ($max - $rad * 6) / 2);
  }
  @for $i from 1 to $num {
    $asteroids: $asteroids,
      (random(($max - $rad * 6) * 100) / 100 - ($max - $rad * 6) / 2) (-(random(($rad) * 100) / 100 - ($max / 2)));
  }
  @for $i from 1 to $num {
    $asteroids: $asteroids,
      -(random(($max - $rad * 6) * 100) / 100 - ($max - $rad * 6) / 2) (random(($rad) * 100) / 100 - ($max / 2));
  }

  @return $asteroids;
}
