@use './vars' as vars;
@use './mixins' as m;

body {
  font-family: vars.$font-sans;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.full {
  @include m.full;
}
